/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Apply base, components, and utilities styles from Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Layer Styles */
@layer base {

  /* Set default font family and background color for the HTML element */
  html {
    background-color: #F5F5F5;
    font-family: 'Kanit', sans-serif;
  }

  /* Style the navigation bar */
  nav {
    @apply fixed w-full z-20 shadow-sm;
    background-color: white;
  }

  /* Style navigation elements */
  .nav {
    @apply py-1 border-b-[0px];
  }

  /* Style the container for the main content */
  .container-children {
    @apply max-w-[2520px] xl:px-20 md:px-10 sm:px-2 px-4;
  }

  /* Style the logo and navigation layout */
  .nav-logo {
    @apply flex items-center flex-row justify-between gap-3 md:gap-0;
  }

  /* Style the logo image background with custom CSS variables */
  .logo-image-background {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 60px;
    background: var(--logocolor, #55E4D6);
  }

  /* Style text with the main color gradient */
  .main-color {
    background: var(--Button-Main, linear-gradient(96deg, rgba(42, 77, 72, 0.77) -10.44%, rgba(46, 22, 57, 0.77) 108.53%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kanit;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /* Style text with the main color and black color */
  .main-color-black {
    color: #000;
    font-family: Kanit;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /* Styles for the main search component */
  .main-search {
    @apply py-2 rounded-full shadow-sm hover:shadow-md transition cursor-pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #A1A1A1;
  }

  /* Styles for the main button with gradient background */
  .btn-main {
    display: flex;
    padding: 9px 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    color: white;
    border-radius: 30px;
    background: var(--Button-Main, linear-gradient(96deg, rgba(42, 77, 72, 0.77) -10.44%, rgba(46, 22, 57, 0.77) 108.53%));
  }

  /* Styles for the search background icon */
  .search-background-icon {
    background: var(--logocolor, #55E4D6);
    margin-left: 2px;
    margin-right: 10px;
  }

  /* Styles for the main modal background */
  .modal-main {
    background-color: rgb(38 38 38);
  }

  /* Styles for the content inside the main modal */
  .modal-main-content {
    background-color: white;
  }

  /* Styles for buttons inside the main modal */
  .modal-main-button {
    /* Uncomment and apply additional styles if needed */
    /* @apply w-full justify-center flex flex-row; */
  }

  /* Styles for the Google button */
  .google-btn {
    /* Uncomment and apply additional styles if needed */
    /* @apply w-full justify-center flex flex-row; */
  }

  .user-menu-width{
    /* @apply w-[40vw] md: w-3/4;  */
    width: max-content;
    font-weight: 400!important;
  }
}

/* Override z-index for specific Leaflet elements */
.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

/* Override width for the Rangeslider (rdr) month and calendar wrapper */
.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 14px !important;
  width: 100% !important;
}

.footer-main{
  background-color: #092635;
}

.footer-main hr{
  background: linear-gradient(96deg, rgba(154, 110, 107, 0.77) -10.44%, rgba(31, 106, 88, 0.77) 108.53%, rgba(1, 255, 209, 0.77) 108.54%, rgba(3, 255, 195, 0.77) 108.87%, rgba(11, 255, 196, 0.77) 108.87%, rgba(171, 34, 26, 0.77) 108.87%)!important;
  width: 100%;
  height: 1px;
}

.footer-main-images{
  border-radius: 5px;
  height: 25px!important;
  width: 35px !important;
  object-fit: cover;
}

.european-hotel-main{
  background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    /* Replace 'your-image.jpg' with the path to your image */
    background-color: rgba(0, 0, 0, 0.42);
    /* Red color with 60% opacity */
    background-blend-mode: overlay;
    /* Blend the background image and color */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    height: 35vh;
    margin-top: -8%!important;
}

.european-hotel {
  background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  /* Replace 'your-image.jpg' with the path to your image */
  background-color: rgba(0, 0, 0, 0.42);
  /* Red color with 60% opacity */
  background-blend-mode: overlay;
  /* Blend the background image and color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 24vh;
  margin-top: -8% !important;
}

.hotel-search{
  background-color: white!important;
  margin-top: 2.8%;
  border-radius: 15px;
}

.european-hotel h1{
  margin-top: 5%;
}

.color-span-green{
  color: var(--logocolor, #55E4D6);
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.color-h1-white{
  color: #FFF;
    font-family: Kanit;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
}

.color-h1-white-main {
  color: #FFF;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 10% !important;
}

.carousel-images{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-images-main{
  /* width: 100vw!important; */
  overflow: hidden;
}


.layout-navbar{
  z-index: 40!important;
}

.secondary-button {
  display: inline-flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 2px solid var(--whitebutton-Color, #FFF);
}

.secondary-btn-p {
  color: var(--WhiteColor, #FFF);
  font-family: Kanit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.banner-btn-r{
  margin-top: -28%!important;
  z-index: 10!important;
  margin-bottom: 10%!important;
}

.banner-btn h1{
  color: rgb(6, 4, 36);
  /* color: var(--logocolor, #55E4D6); */
  font-family: "Abril Fatface", serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.banner-btn h2{
  color: #FFF;
    text-align: center;
    font-family: Kanit;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.main-item-border {
  display: flex;
  padding: 10px 20px 25px 20px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* cursor: pointer; */
  border-radius: 15px;
  border: 1px solid #A1A1A1;
  color: #666;
  font-size: 15px;
  font-style: normal;
  line-height: normal;
}

.SearchMain-page{
  margin-top: -7%!important;
  position: relative;
  z-index: 10!important;
}

.main-item-border-r{
  border: 1px solid #A1A1A1;
  color: #666;
  padding: 5px 10px 5px 10px;
  margin: 0px 40px;
  border-radius: 15px;
}

.btn-main-page {
  display: flex;
  padding: 9px 20px;
  justify-content: flex-end;
  align-items: center;
  color: white;
  border-radius: 30px;
  background: var(--Button-Main, linear-gradient(96deg, rgba(42, 77, 72, 0.77) -10.44%, rgba(46, 22, 57, 0.77) 108.53%));
}

.main-header-gradient {
  background: var(--Button-Main, linear-gradient(96deg, rgba(42, 77, 72, 0.77) -10.44%, rgba(46, 22, 57, 0.77) 108.53%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Kanit;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-header-black {
  color: #000;
    font-family: Kanit;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.outline-main-btn{
  display: inline-flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid var(--Button-Main, #2A4D48);
    font-family: Kanit;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   background: var(--Button-Main, linear-gradient(96deg, rgba(42, 77, 72, 0.77) -10.44%, rgba(46, 22, 57, 0.77) 108.53%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tour-inconfort{
  background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    /* Replace 'your-image.jpg' with the path to your image */
    background-color: rgba(0, 0, 0, 0.52);
    /* Red color with 60% opacity */
    background-blend-mode: overlay;
    /* Blend the background image and color */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.display-card {
  display: flex;
  width: 240px;
  height: 220px;
  padding: 39.081px 45.081px 47.517px 43.838px;
  flex-direction: column;
  align-items: center;
  gap: 36.386px;
  flex-shrink: 0;
  border-radius: 17.519px;
}

.display-card:hover{
  background: rgba(255, 255, 255, 0.44);
  cursor: pointer;
}

.main-page-cards{
  gap: 140px!important;
}

.full-width-container{
  width: 88.4vw!important;
}

.country-labels{
  margin-top: -18%!important;
  z-index: 10!important;
}

.tour-booking {
  background-image: url('https://res.cloudinary.com/doamgn1l0/image/upload/v1705781708/phaozusyhgheyyawehzv.jpg');
  /* Replace 'your-image.jpg' with the path to your image */
  background-color: rgba(0, 0, 0, 0.62);
  /* Red color with 60% opacity */
  background-blend-mode: overlay;
  /* Blend the background image and color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.booking-card {
  border-radius: 17.519px;
  background: rgba(255, 255, 255, 0.74);
  line-height: 40px!important;
}

.booking-card:hover {
  /* background: rgba(255, 255, 255, 0.44);
  cursor: pointer; */
}

.booking-card-text{
  line-height: 29px!important;
}

.trending-list-main-page{
  border-radius: 17.191px;
  border: 1.146px solid #A1A1A1;
}

.carousel-overlay{ 
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.5);
}

.image-gallery {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.main-image {
  flex: 1;
  max-height: 100%;
  margin-right: 8px;
}

.main-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px 0 0 18px;
}

.small-images {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.small-images img {
  width: calc(50% - 5px);
  height: auto;
}

.all-destinations-main{
  background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    /* Replace 'your-image.jpg' with the path to your image */
    background-color: rgba(0, 0, 0, 0.42);
    /* Red color with 60% opacity */
    background-blend-mode: overlay;
    /* Blend the background image and color */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    height: 60vh;
    margin-top: -8% !important;
}

.all-destinations-main-main {
  background-image: url('../public/images/adventure2.jpg');
  /* Replace 'your-image.jpg' with the path to your image */
  background-color: rgba(0, 0, 0, 0.22);
  /* Red color with 60% opacity */
  background-blend-mode: overlay;
  /* Blend the background image and color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 55vh;
  margin-top: -8% !important;
}

.all-destinations-main-loader {
  background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  /* Replace 'your-image.jpg' with the path to your image */
  background-color: rgba(0, 0, 0, 0.42);
  /* Red color with 60% opacity */
  background-blend-mode: overlay;
  /* Blend the background image and color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 20vh;
  margin-top: -8% !important;
}

.color-h1-destinations-main {
  color: #FFF;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 15% !important;
}

.color-h1-destinations-main-loader {
  color: #FFF;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 4% !important;
}

.destination-search{
  background-color: white !important;
  margin-top: 8.8%;
  border-radius: 15px;
}

.destination-search-main {
  background-color: white !important;
  margin-top: 7%;
  border-radius: 15px;
}

.alldestinations-main {
  background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  /* Replace 'your-image.jpg' with the path to your image */
  background-color: rgba(0, 0, 0, 0.42);
  /* Red color with 60% opacity */
  background-blend-mode: overlay;
  /* Blend the background image and color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 24vh;
  margin-top: -8% !important;
}

.alldestinations-white-main {
  color: #FFF;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 4% !important;
}

.filter-bg-color{
  background-color: var(--logocolor, #55E4D6);
}

.carousel-container{
  margin-top: -8%!important;
}

.carousel-main-div {
  margin-top: -30% !important;
  z-index: 5 !important;
  /* width: 100vw!important; */
}

.carousel-main-div-carousel{
  height: -8!important;
}

.overlay-pro{
  height: 80vh!important;
}

.all-destinations-main-admin-profile {
  background-image: url('https://images.unsplash.com/photo-1520250497591-112f2f40a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  /* Replace 'your-image.jpg' with the path to your image */
  background-color: rgba(0, 0, 0, 0.42);
  /* Red color with 60% opacity */
  background-blend-mode: overlay;
  /* Blend the background image and color */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 27vh;
  margin-top: -8% !important;
}

.color-h1-destinations-main-admin-profile {
  color: #FFF;
  font-family: Kanit;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 4% !important;
}